#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. scikit-learn (Python)
2. pandas (Python)
3. caret (R)

| Data Science Tools |
| ----- |
| Jupyter Notebooks/Lab |
| R Studio |
| Zeppelin Notebooks |

###Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries in Data Science
* List tools used in Data Science
* Perform computations in Jupyter

##Author
D S Mabrur Hyder